<ul class="nav nav-pills justify-content-center fixed-top navbar-expand-sm bg-light" style="background-color: rgb(126, 110, 99);">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu1">India</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">PATIENTS IN INDIA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">Facitilities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">HELPFUL LINKS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">ESSENTIALS</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container active" id="home">
        <div class="wolrd-info">
            <app-world></app-world>
            <app-india></app-india>
            <app-displaycountries></app-displaycountries>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu1">
        <div style="padding-top: 80px;">
            <app-india></app-india>
            <app-state-details></app-state-details>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu2">...</div>
</div>