/* .example-container {
    width: 100%;
    height: 100%;
}

.example-sidenav-content {
    padding-top: 54px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.navbar {
    position: fixed;
} */

.wolrd-info {
    padding-top: 30px;
}