<nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
    <img class="navbar-brand" src="assets\img\crona.png" id="logo_custom" width="10%" alt="logo">
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon "></span>
     </button>
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/crona-app']">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/india-details']">INDIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/need-help']">NEED HELP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/helpful-link']">HELPFUL LINKS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/status']">PATIENTS IN INDIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/about']">ABOUT</a>
            </li>
        </ul>
    </div>
</nav>
