<mat-toolbar color="primary" class="fixed-top ">
    <button class="menuButton" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon  aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    <h3 style="padding-left: 50px;">Be compassionate! Help those in need like the elderly and poor. They are facing a crisis which we can't even imagine! </h3>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-accordion>
            <mat-expansion-panel style="    padding-top: 60px">
                <mat-expansion-panel-header>
                    Indian State
                </mat-expansion-panel-header>
                <div *ngFor="let region of indiaData">
                    <button mat-button>
                  {{region.loc}}
                </button>
                </div>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Country
                </mat-expansion-panel-header>
                Country name
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
    <div class="wolrd-info">
        <app-world></app-world>
        <app-india></app-india>
        <app-displaycountries></app-displaycountries>
    </div>
</mat-drawer-container>
