<div fxLayoutAlign="center center" style="margin-right: 170px;">
    <h1>COVID-19 CORONAVIRUS PANDEMIC IN WORLD</h1> <br><br>

</div>
<div class="flex-container" fxLayoutAlign="center center">
    <div>
        <mat-card style="background-color: rgb(181, 204, 226);">
            <mat-card-title>
                {{world.cases | number:''}}
            </mat-card-title>

            <mat-card-content>
                Corona Virus Cases
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card style="background-color: rgb(248, 39, 39);">
            <mat-card-title>
                {{world.deaths | number:''}}
            </mat-card-title>
            <mat-card-content>
                Total Deaths
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card style="background-color: rgb(129, 235, 115);">
            <mat-card-title>
                {{world.recovered | number:''}}
            </mat-card-title>
            <mat-card-content>
                Total Recovered
            </mat-card-content>
        </mat-card>
    </div>
</div>