<div>

    <div class="display">
        <mat-card>
            <mat-card-title>
                vikash kumar
            </mat-card-title>

            <mat-card-content>
                he is goof boy
            </mat-card-content>
        </mat-card>
    </div>
    <div class="display">
        <mat-card>
            <mat-card-title>
                vikash kumar
            </mat-card-title>

            <mat-card-content>
                he is goof boy
            </mat-card-content>
        </mat-card>
    </div>
    <div class="display">
        <mat-card>
            <mat-card-title>
                vikash kumar
            </mat-card-title>

            <mat-card-content>
                he is goof boy
            </mat-card-content>
        </mat-card>
    </div>
</div>
