<app-navigationbar></app-navigationbar>
<div class="container" style="padding-top: 100px;">

    <div class="card mb-3 " style="max-width: 500px; padding-top:90px;">
        <div class="row no-gutters">
            <div class="col-md-4 ">
                <img src="assets\img\crop.jpg" class="card-img" alt="My pic">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Vikash Kumar</h2>
                    <p class="card-text">
                        I am vikash kumar, I am born and raised in Bodhgaya(Bihar), and currently I am doing fellowship in brighlabz , I love to live simple, Lover of travelling, photography, music, coding. love 2 live alone ❤
                    </p>
                    <a href="https://www.facebook.com/vikashraj.aryaray" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/VikashK31349799" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/vikash_kumar_gupta__/" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="text-primary">Are you official?</h3>
        <p class="text-danger">No</p>
        <br>
    </div>
</div>
<app-footer></app-footer>
