<nav class="navbar navbar-light bg-light form-inline">
    <input type="text" class="form-control" placeholder="Enter Countery Name" [(ngModel)]="SearchTeram" id="listSearch">
</nav>
<table class="table">
    <caption>Country Details</caption>
    <thead>
        <tr>
            <tr>
                <th scope="col">Country</th>
                <th scope="col">Total Cases</th>
                <th scope="col">Today Cases</th>
                <th scope="col">Death</th>
                <th scope="col">Today Death</th>
                <th scope="col">Recoverd</th>
                <th scope="col">Total Active</th>
            </tr>
    </thead>
    <tbody *ngFor="let country of CountryList | searchCountry : SearchTeram">
        <tr>
            <td>{{country.country}}</td>
            <td>{{country.cases}}</td>
            <td>{{country.todayCases}}</td>
            <td>{{country.deaths}}</td>
            <td>{{country.todayDeaths}}</td>
            <td>{{country.recovered}}</td>
            <td>{{country.active}}</td>
        </tr>
    </tbody>
</table>