<app-navigationbar></app-navigationbar>
<div style="padding-top: 70px;">
    <app-spinner></app-spinner>
</div>
<div class="container-sm  text-center">
    <p>HELPLINE NUMBERS [BY STATE]</p>
    <a href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf" target="_blank">HTTPS://WWW.MOHFW.GOV.IN/PDF/CORONVAVIRUSHELPLINENUMBER.PDF</a>
    <p></p>
    <p>MINISTRY OF HEALTH AND FAMILY WELFARE, GOV. OF INDIA</p>
    <a href="https://www.mohfw.gov.in/  " target="_blank">HTTPS://WWW.MOHFW.GOV.IN/</a>
    <p></p>
    <p>WHO : COVID-19 HOME PAGE</p>
    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">HTTPS://WWW.WHO.INT/EMERGENCIES/DISEASES/NOVEL-CORONAVIRUS-2019</a>
    <p></p>
    <p>CDC</p>
    <a href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html" target="_blank">HTTPS://WWW.CDC.GOV/CORONAVIRUS/2019-NCOV/FAQ.HTML</a>
    <p></p>
    <p>CROWDSOURCED LIST OF RESOURCES & ESSENTIALS FROM ACROSS INDIA
    </p>
    <a href="https://coronavirus.thebaselab.com/" target="_blank">HTTPS://CORONAVIRUS.THEBASELAB.COM/</a>
</div>
