.carousel {
    background: #2f76bd;
    margin-top: 15px;
}

.carousel-item {
    text-align: center;
    min-height: 80px;
    /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.bs-example {
    margin: 20px;
}
