<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active justify-content-center">
                <h3 class="text-white" style="padding-top: 30px;">Lockdown means LOCKDOWN! Avoid going out unless absolutely necessary. Stay safe! </h3>
            </div>
            <div class="carousel-item" style="padding-top: 30px;">
                <h3 class="text-white">Be considerate. While buying essentials remember that you need to share with 130 crore fellow citizens! </h3>
            </div>
            <div class="carousel-item" style="padding-top: 30px;">
                <h3 class="text-white">Call up your loved ones during the lockdown, support each other through these times. </h3>
            </div>
        </div>

    </div>
</div>
